In [1]:
import numpy as np, pandas as pd

In [2]:
chipo = pd.read_csv('chipo.txt', sep='\t')
users = pd.read_csv('user.txt', sep='|')

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [8]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [9]:
indx = chipo.iloc[[0]]

In [10]:
indx

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [18]:
chipo.iloc[lambda x: x.index % 2 == 0].tail(10)

,order_id,quantity,item_name,choice_description,item_price
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4614,1831,1,Bottled Water,NaN,$1.50
4616,1832,1,Chips and Guacamole,NaN,$4.45
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75

In [19]:
chipo['item_name'].value_counts()[[0]]

item_name
Chicken Bowl    726
Name: count, dtype: int64

In [20]:
chipo['choice_description'].value_counts()[[0]]

choice_description
[Diet Coke]    134
Name: count, dtype: int64

In [21]:
chipo['item_price'].apply(lambda x: float(x[1:])).heade(2)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [26]:
item_price = chipo['item_price'].apply(lambda x: float(x[1:]))
sum_prices = item_price.sum()
total_orders = chipo['order_id'].nunique()

In [27]:
np.round(sum_prices / total_orders, decimals=2)

18.81

In [28]:
chipo['item_name'].nunique()

50

In [29]:
## Exercise 2:

In [30]:
chipo['item_price'].apply(lambda x : float(x[1:])).where(lambda x: x > 10).value_counts()

item_price
11.25    521
11.75    284
10.98     99
11.48     51
17.50     40
11.89     26
16.98     19
22.50     13
18.50     12
21.96     10
11.08     10
17.98      7
23.50      6
10.58      5
26.25      3
27.75      2
35.00      2
22.16      2
23.78      2
22.20      1
44.25      1
17.80      1
15.00      1
13.52      1
16.38      1
33.75      1
10.50      1
35.25      1
32.94      1
12.98      1
26.07      1
22.96      1
13.35      1
11.80      1
11.49      1
Name: count, dtype: int64

In [ ]:
## Exercise 3:

In [34]:
users.loc[[0]]

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711

In [36]:
 users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [33]:
## Exercise 4:

In [32]:
users['']

user_id
1      1
634    1
622    1
623    1
624    1
      ..
319    1
320    1
321    1
322    1
943    1
Name: count, Length: 943, dtype: int64